*
{
    margin:0;
    padding:0;

}

section{
    width: 100%;
    min-height: 100vh;
    background: #121212;
    background-size:cover;
    background-repeat: no-repeat;
   background-position: center;
    overflow: hidden;
}
.menu{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 3%;

}
.logo{
    width: 150px;
    height: 50px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.nav-header{
    display: flex;
    justify-content: flex-end;
    padding: 1% 1%;
    flex: 1;
}  
.nav-header  a{
    color: white;
    text-decoration: none;
font-family: 'Inter';
font-size: 1vw;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0.5% 1.5%;
}
.nav-header a:hover{
    color:#2EAF3B;
    transition: .3s;
}
.nav-header .home{
    color: #2EAF3B;
    text-decoration: underline;
}
.side-nav{
    position: fixed;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background: black;
    backdrop-filter: -10px 0 10px white;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: 0;
    right: 0;
    padding: 2% 2%;
}
.side-nav a{
    color:white;
    text-decoration: none;
font-family: 'Inter';
font-size: clamp(13px , 1vw, 40px);
font-style: normal;
line-height: normal;
padding: 10% 2%;

}
.side-nav a:hover{
    color:#2EAF3B;
    transition: .3s;
}
.side-nav .home{
    color: #2EAF3B;
    text-decoration: underline;
}
h2{
color: #FFF;
text-align: center;
font-family: 'Inter';
font-size: clamp(15px , 2vw, 30px);
font-weight: 400;
line-height: 1.5;
padding-top: 3% ;
}
.line{
    width: 10%;
    height: 2px;
    background: #2EAF3B;
    margin-left: 45%;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}  
.project{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 370px;
    border: 2px solid  #2B2B2B;
    border-radius: 10px;
}
.project .image{
    width: 100%;
    height: 48%;
}
.project .image img{
width: 100%;
height: 100%;
}
.project .description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2% 5%;
    font-family: Inter;
}
.project .description h3{
    font-size: clamp(12px , 1.2vw, 20px);
    line-height: 2;
    color: white;
}
.project .description p{
    font-size: clamp(10px , 0.8vw, 15px);
    color:rgba(255, 255, 255, 0.70);


   
}
.project .languages{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}
.project .lang{
    color: white;
    font-family: Inter;
    font-size: clamp(10px , 0.6vw, 20px);
    background:  #2B2B2B;
    padding: 2% 7%;
    border-radius: 10px;

}
.project .accessing{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: Inter;
    font-size: clamp(10px , 0.8vw, 20px);
    padding: 2% 5%;
}
.accessing .link a{
    color: white;
    font-family: Inter;
    font-size: clamp(10px , 0.5vw, 20px);
    background: #2B2B2B;
    padding: 5px 10px;
    width: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.accessing .link a:hover{
    color: #2EAF3B;
}
.accessing .link img{
    width: 15%;
    height: 100%;
}
    @media only screen  and (max-width: 1023px){
        .nav-header{
            display: none;
        }
        .content{
            flex-wrap: wrap;
        }
        .arrow{
            display: none;
        }
    }

        @media only screen  and (max-width: 1024px){
        .project{
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 300px;
        }
        .content{
            gap:20px;
            justify-content: center;
        }
    }
        @media only screen  and (min-width: 1023px){
            .menu-icon{
                display: none;
            }
            }
            @media only screen  and (min-width: 1023px){
                .menu-icon{
                    display: none;
                }
                }